---
import NextButton from '../components/buttons/NextButton.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---

<div class="avatar-wrapper">
    <div class="avatar-controllers">
        <a id="avatar-controller-left" href="#"><img src="./imgs/avatar/controllers/avatar-controller-left.png"></a>
        <div class="avatar-current-wrapper">
            <span id="avatar-current-label">Hair Style</span>
        </div>
        <a id="avatar-controller-right" href="#"><img src="./imgs/avatar/controllers/avatar-controller-right.png"></a>
    </div>
    <div class="avatar-display">
        <a id="avatar-display-left" class="avatar-display-button" href="#"><img src="./imgs/avatar/controllers/avatar-slider-left.png"></a>
        <div class="avatar-display-wrapper">
            <img class="avatar-ref" id="avatar-ref" width="350px" src="./imgs/avatar/parts/neck-1.svg">
            <div class="avatar-image">
                <img class="avatar-body-part" id="avatar-neck-preview" width="350px" src="./imgs/avatar/parts/neck-1.svg">
                <img class="avatar-body-part" id="avatar-head-preview" width="350px" src="./imgs/avatar/parts/skin-1.svg">
                <img class="avatar-body-part" id="avatar-eyebrows-preview" width="350px" src="./imgs/avatar/parts/eyebrows-skin-1.svg">
                <div class="avatar-body-part" id="avatar-eyes-preview" width="350px" src="./imgs/avatar/parts/eyes.svg">
                    <img id="avatar-eyes-image" width="350px" src="./imgs/avatar/parts/eyes.svg">
                </div>
                <img class="avatar-body-part" id="avatar-hair-preview" width="350px" src="./imgs/avatar/parts/hair-style-1-black.svg">
                <img class="avatar-body-part" id="avatar-mouth-preview" width="350px" src="./imgs/avatar/parts/mouth-skin-1.svg">
                <img class="avatar-body-part" id="avatar-nose-preview" width="350px" src="./imgs/avatar/parts/nose-skin-1.svg">
                <img class="avatar-body-part" id="avatar-body-preview" width="350px" src="./imgs/avatar/parts/body-1.svg">
                <img class="avatar-body-part" id="avatar-extras-preview" width="350px" src="./imgs/avatar/parts/glasses.svg">
            </div>
            
            <div id="avatar-part-number">1/12</div>
        </div>
        <a id="avatar-display-right" class="avatar-display-button" href="#"><img src="./imgs/avatar/controllers/avatar-slider-right.png"></a>
    </div>
    <NextButton step={step}/>

</div>
<style>
    .avatar-wrapper {
        width:100%;
        --text-blue:#14519C; 
        --color-blue:#044596; 
        color:var(--color-blue);
        text-align: center;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        display: flex;
        flex-direction: column;
        
    }

    .avatar-body-part {
        position: absolute;
        pointer-events: none;
    }

    .avatar-image {
        position: absolute;
        top:0px;
        left:0px;
    }

    .avatar-ref {
        opacity:0.0;
    }

    .avatar-controllers {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto 20px auto;
    }

    .avatar-current-wrapper {
        background-color: #E7EFF2;
        padding: 10px 30px;
        font-style: italic;
        font-size: 18px;
        border-radius:4px;
    }

    .avatar-current-wrapper span{
        margin-top: 2px;
        float: left;
    }

    .avatar-display {
        width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .avatar-display-wrapper{
        display:flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .avatar-display-button {
        margin: auto 0;
    }
    
    #avatar-part-number {
        font-size:20px;
    }

</style>