---
import NextButton from '../components/buttons/NextButton.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---

<div class="avatar-wrapper">
    <div class="avatar-controllers">
        <a id="avatar-controller-left" href="#"><img src="./imgs/avatar/controllers/avatar-controller-left.png"></a>
        <div class="avatar-current-wrapper">
            <span id="avatar-current-label">Hair Style</span>
        </div>
        <a id="avatar-controller-right" href="#"><img src="./imgs/avatar/controllers/avatar-controller-right.png"></a>
    </div>
    <div class="avatar-greetings">
        <div class="avatar-greetings-name user-name">Iñaki</div>
        <div class="avatar-greetings-label">This is <strong>your story...</strong></div>
    </div>
    <div class="avatar-display">
        <a id="avatar-display-left" class="avatar-display-button" href="#"><img src="./imgs/avatar/controllers/avatar-slider-left.png"></a>
        <div class="avatar-display-wrapper">
            <img class="avatar-ref" id="avatar-ref" width="350px" src="./imgs/avatar/parts/neck-1.svg">
            <div class="avatar-image" id="avatar-image">
                <img class="avatar-body-part" id="avatar-neck-preview" width="350px" src="./imgs/avatar/parts/neck-1.svg">
                <img class="avatar-body-part" id="avatar-head-preview" width="350px" src="./imgs/avatar/parts/skin-1.svg">
                <img class="avatar-body-part" id="avatar-eyebrows-preview" width="350px" src="./imgs/avatar/parts/eyebrows-skin-1.svg">
                <div class="avatar-body-part" id="avatar-eyes-preview" width="350px" src="./imgs/avatar/parts/eyes.svg">
                    <img id="avatar-eyes-image" width="350px" src="./imgs/avatar/parts/eyes.svg">
                </div>
                <img class="avatar-body-part" id="avatar-mouth-preview" width="350px" src="./imgs/avatar/parts/mouth-skin-1.svg">
                <img class="avatar-body-part" id="avatar-nose-preview" width="350px" src="./imgs/avatar/parts/nose-skin-1.svg">
                <img class="avatar-body-part" id="avatar-body-preview" width="350px" src="./imgs/avatar/parts/body-1.svg">
                <img class="avatar-body-part avatar-body-extra" id="avatar-glasses-preview" width="350px" src="./imgs/avatar/parts/glasses.svg">
                <img class="avatar-body-part avatar-body-extra" id="avatar-moustache-preview" width="350px" src="./imgs/avatar/parts/moustache.png">
                <img class="avatar-body-part avatar-body-extra" id="avatar-beard-preview" width="350px" src="./imgs/avatar/parts/beard.png">
                <img class="avatar-body-part" id="avatar-hair-preview" width="350px" src="./imgs/avatar/parts/hair-style-1-color-1.svg">
                

                <img class="avatar-test" id="avatar-test-1" src="./imgs/incorrect.png">
                <img class="avatar-test" id="avatar-test-2" src="./imgs/incorrect.png">
                <img class="avatar-test" id="avatar-test-3" src="./imgs/incorrect.png">
                <img class="avatar-test" id="avatar-test-4" src="./imgs/incorrect.png">
            </div>
            
            <div id="avatar-part-number">1/12</div>
            <div id="color-picker-wrapper">
                <div id="color-picker-1">
                    <a class="current-picker color-picker-item" id="picker-1-color-1" href="#">
                        <div class="square outter-square"></div>
                        <div class="square inner-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-2" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-3" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-4" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-5" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-6" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-7" href="#">
                        <div class="square inner-square"></div>
                        <div class="square outter-square"></div>
                    </a>
                    <a class="color-picker-item" id="picker-1-color-8" href="#">
                        <div class="square outter-square"></div>
                        <div class="square inner-square"></div>
                    </a>
                </div>
                <div id="color-picker-2">
                    <div class="group">
                        <a class="current-picker color-picker-item" id="picker-2-color-1" href="#">
                            <div class="square outter-square"></div>
                            <div class="square inner-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-2-color-2" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-2-color-3" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                    </div>
                    <div class="group">
                        <a class="color-picker-item" id="picker-2-color-4" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-2-color-5" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                    </div>
                </div>
                <div id="color-picker-3">
                    <div class="group">
                        <a class="current-picker color-picker-item" id="picker-3-color-1" href="#">
                            <div class="square outter-square"></div>
                            <div class="square inner-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-3-color-2" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-3-color-3" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                    </div>
                    <div class="group">
                        <a class="color-picker-item" id="picker-3-color-4" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                        <a class="color-picker-item" id="picker-3-color-5" href="#">
                            <div class="square inner-square"></div>
                            <div class="square outter-square"></div>
                        </a>
                    </div>
                </div>
                <div id="color-picker-extras">
                    <a class="current-picker color-picker-item" id="picker-extras-nothing" href="#">
                        <img src="./imgs/avatar/controllers/icon-nothing-active.png">  
                    </a>
                    <a class="color-picker-item" id="picker-extras-glasses" href="#">
                        <img src="./imgs/avatar/controllers/icon-glasses.png">  
                    </a>
                    <a class="color-picker-item" id="picker-extras-moustache" href="#">
                        <img src="./imgs/avatar/controllers/icon-moustache.png">  
                    </a>
                    <a class="color-picker-item" id="picker-extras-beard" href="#">
                        <img src="./imgs/avatar/controllers/icon-beard.png">  
                    </a>
                </div>
                <div id="name-picker">
                    <input id="name-input" type="text" placeholder="Type your name" />
                </div>
            </div>
        </div>
        <a id="avatar-display-right" class="avatar-display-button" href="#"><img src="./imgs/avatar/controllers/avatar-slider-right.png"></a>
    </div>
    <NextButton step={step}/>

</div>
<style>
    .avatar-wrapper {
        width:100%;
        --text-blue:#14519C; 
        --color-blue:#044596; 
        color:var(--color-blue);
        text-align: center;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .avatar-greetings{
        position: absolute;
        width: 100%;
        font-size: 20px;
        margin: 40px 0px 0px 0px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .avatar-greetings-name {
        font-size: 25px;

    }

    .avatar-body-part {
        position: absolute;
        pointer-events: none;
    }

    .avatar-image {
        position: absolute;
        top:0px;
        left:0px;
    }

    .avatar-ref {
        opacity:0.0;
    }

    .avatar-controllers {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto 20px auto;
    }

    .avatar-current-wrapper {
        background-color: #E7EFF2;
        padding: 10px 30px;
        font-style: italic;
        font-size: 18px;
        border-radius:4px;
    }

    .avatar-current-wrapper span{
        margin-top: 2px;
        float: left;
    }

    .avatar-display {
        width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .avatar-display-wrapper{
        display:flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .avatar-display-button {
        margin: auto 0;
    }
    
    #avatar-part-number {
        font-size:20px;
    }

    .avatar-test {
        position: absolute;
        top:0px;
        left:0px;
        width:10px;
        height:10px;
        opacity:0.0;
    }

    .color-picker-item {
        width:60px;
        height:60px;
        border-radius:4px;
        position: relative;
        /*background-color:black;*/
        /*position: absolute;*/
    }

    .inner-square {
        position: absolute;
        top:0px;
        left:0px;
        transition:all .5s;
    }

    .outter-square {
        background-color:#82A2CA;
    }

    .square {
        border-radius:4px;
        height:60px;
        width:60px;
        border:4px solid white;
    }

    .group {
        display:flex;
        justify-content: center;
        gap: 20px;
    }


    #color-picker-1 {
        display:none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:10px;
        width:80%;
        margin: 0 auto;
        position: relative;

    }

    #color-picker-2 {
        display:none;
        flex-direction:column;
        gap:10px;
        width:80%;
        margin: 0 auto;
        position: relative;
    }

    #color-picker-3 {
        display:grid;
        flex-direction:column;
        gap:10px;
        width:80%;
        margin: 0 auto;
        position: relative;
    }

    #color-picker-extras {
        display:grid;
        grid-template-columns: 1fr 1fr;
        /* center elements */
        justify-items: center;
        align-items: center;
        gap:30px 0px;
        width:80%;
        margin: 0 auto;
        position: relative;
        margin-bottom: -20px;
    }

    #color-picker-extras a{
        width: auto;
        height: auto;
    }

    .current-picker .inner-square{
        /*
        width: 40px;
        height: 40px;
        top: 7px;
        left: 7px;
        */
        
        transition:all .5s;
        transform: scale(0.6666);
    }
    

    /* COLOR PICKER 1 */
    #picker-1-color-1 .inner-square{
        background-color:#F2CCAF;
    }

    #picker-1-color-2 .inner-square{
        background-color:#75595A;
    }

    #picker-1-color-3 .inner-square{
        background-color:#F7D5A8;
    }

    #picker-1-color-4 .inner-square{
        background-color:#9B614E;
    }

    #picker-1-color-5 .inner-square{
        background-color:#846141;
    }

    #picker-1-color-6 .inner-square{
        background-color:#B17F4C;
    }

    #picker-1-color-7 .inner-square{
        background-color:#C79B82;
    }

    #picker-1-color-8 .inner-square{
        background-color:#8D4F4A;
    }

    /* COLOR PICKER 2 */
    #picker-2-color-1 .inner-square{
        background-color:#00A5DC;
    }

    #picker-2-color-2 .inner-square{
        background-color:#009348;
    }

    #picker-2-color-3 .inner-square{
        background-color:#F6B41A;
    }

    #picker-2-color-4 .inner-square{
        background-color:#AC7AB5;
    }

    #picker-2-color-5 .inner-square{
        background-color:#F37555;
    }

     /* COLOR PICKER 3 */
     #picker-3-color-1 .inner-square{
        background-color:black;
    }

    #picker-3-color-2 .inner-square{
        background-color:#CC9900;
    }

    #picker-3-color-3 .inner-square{
        background-color:#00698C;
    }

    #picker-3-color-4 .inner-square{
        background-color:#8D4E49;
    }

    #picker-3-color-5 .inner-square{
        background-color:#F55F03;
    }

    #name-picker {
        border-bottom: 2px dashed #0D4C99;
        margin-top: -20px;
    }

    #name-input{
        padding: 10px 0px;
        width: 100%;
        text-align: center;
        border: none;
        font-size: 30px;
        color:#0D4C99;
    }

</style>