---
import Layout from '../layouts/Layout.astro';
import Step from '../components/Step.astro';
import QuestionSet from '../components/QuestionSet.astro';
---

<Layout title="German School">
	<div class="container">
		<div class="holder">
			<div id="content" class="content">
				<Step step="0">
					<div>Select one:</div>
					<QuestionSet step="0" />
				</Step>
				<Step step="1">
					<div>Select the correct ones:</div>
					<QuestionSet step="1" />
				</Step>
				<Step step="2">Content 3 here</Step>
			</div>
			
		</div>
		
	</div>
</Layout>
<style is:global>
	:root {
    	--radius: 15px;
    	--marginGeneral: 10%;
	}

	body {
		margin: 0;
		padding:0;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: black;
		overflow:hidden;

	}

	.holder {
		position: relative;
		border-radius:var(--radius);
		border:2px solid red;
		height: calc(100% - var(--marginGeneral));
		width: calc(100% - var(--marginGeneral));
		max-width: 448px;
		max-height: 800px;
		overflow:hidden;
		
	}

	.content {
		position: absolute;
		left:0px;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;		
	}

	.step {
		min-width: 100%;
		height: 100%;
		background-color: aquamarine;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.stepOrange{
		background-color: orange !important;
	}

</style>

