---
import Layout from '../layouts/Layout.astro';
import Step from '../components/Step.astro';
import CleanStep from '../components/CleanStep.astro';
import AvatarStep from './AvatarStep.astro';
import FlowDiagramStep from './FlowDiagramStep.astro';
import StartupsStep from './StartupsStep.astro'
import FinancialMetric from './FinancialMetric.astro'
import TravelToManausStep from './TravelToManausStep.astro'
import WhyEnterpreneurStep from './WhyEnterpreneurStep.astro'
import Form from '../components/Form.astro';
import ElevatorPitchStep from './ElevatorPitchStep.astro';
import PatagoniaStep from './PatagoniaStep.astro';
import SocialMediaStep from './SocialMediaStep.astro';
import ActTitleStep from './ActTitleStep.astro';
import Act1_Cinematics from './acts/Act1_Cinematics.astro';
import Act1_SarahApproves from './acts/Act1_SarahApproves.astro';
import Act2_Cinematics from './acts/Act2_Cinematics.astro';
import Intro from './Intro.astro';
import Header from '../components/Header.astro';
import BusinessStep from './BusinessStep.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Guardians of the Rainforest | WHU">
	<div class="container" draggable="false">
		<div id="root" class="holder">
			<div class="sticky-header">
				<Header step={"0"} act={"I"}/>
			</div>
			<div id="content" class="content">
				<Step step="0">
					<Intro step='0'/>
				</Step>
				<Step step="1">
					<AvatarStep step='1'/>
				</Step>
				<Step step="2">
					<SocialMediaStep step='2'/>
				</Step>
				<Step step="3">
					<ActTitleStep act={1} label='The Call for Adventure' step="3"/>
				</Step>
				<Step step="4">
					<Act1_Cinematics step='4'/>
				</Step>
				<Step step="5">
					<WhyEnterpreneurStep step="5" />
				</Step>
				<Step step="6">
					<BusinessStep step="6" />
				</Step>
				<Step step="7">
					<Act1_SarahApproves step="7" />
				</Step>
				<Step step="8">
					<ActTitleStep act={2} label='The Journey begins' step="8"/>
				</Step>
				<Step step="9">
					<Act2_Cinematics step='9'/>
				</Step>
				<Step step="10">
					<StartupsStep step="10"/>
				</Step>
				<!-- subect TO CHANGE -->
				<Step step="11">
					<FlowDiagramStep step='11'/>
				</Step>
				
				<Step step="12">
					<FinancialMetric step="12" />
				</Step>
				<CleanStep step="13" act="III">
					<TravelToManausStep step="13" />
				</CleanStep>
				
				<Step step="14">
					<ElevatorPitchStep step="14" />
				</Step>
				<Step step="15">
					<PatagoniaStep step="15" />
				</Step>
				<Step step="16">
					<Form />
				</Step>
			</div>
			<div class="sticky-footer">
				<Footer />
			</div>
		</div>
		
	</div>
</Layout>
<style is:global>
	
	:root {
    	--radius: 15px;
    	--marginGeneral: 0%;
    	--color-alternate: orange;
    	--color-correct: green;
	}

	p {
		margin:0;
		padding:0;
	}

	.hide {
		display: none;
	}

	body {
		touch-action: none;
		margin: 0;
		padding:0;
	}

	@font-face {
		font-family: 'Roboto';
		src: url('/fonts/Roboto-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}


	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		height: 100svh;
		width: 100vw;
		background-color: black;
		overflow:hidden;

	}

	.holder {
		position: relative;
		/*border-radius:var(--radius);*/
		height: calc(100% - var(--marginGeneral));
		width: calc(100% - var(--marginGeneral));
		max-width: 448px;
		max-height: 800px;
		overflow:hidden;
		background-color: white;
	}

	.content {
		position: absolute;
		left:0px;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;		
	}

	.step {
		min-width: 100%;
		height: 100%;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.stepOrange{
		background-color: orange !important;
	}

	.user-name {
        color:#EB590A;
		font-weight: bold;
    }

	.sticky-header {
		position: absolute;
		top: 0;
		z-index:1;
		width: 100%;
		display:grid;
		background-color: #054696;
	}

	.sticky-footer {
		width: 100%;
		position: absolute;
		bottom: 0px;
		height: 35px;
	}

</style>

