---
import Layout from '../layouts/Layout.astro';
import Step from '../components/Step.astro';
import CleanStep from '../components/CleanStep.astro';
import FlowDiagramStep from './FlowDiagramStep.astro';
import StartupsStep from './StartupsStep.astro'
import FinancialMetric from './FinancialMetric.astro'
import TravelToManausStep from './TravelToManausStep.astro'
import WhyEnterpreneurStep from './WhyEnterpreneurStep.astro'
import Form from '../components/Form.astro';
import ElevatorPitchStep from './ElevatorPitchStep.astro';
import PatagoniaStep from './PatagoniaStep.astro';
import Header from '../components/Header.astro';
---

<Layout title="German School">
	<div class="container" draggable="false">
		<div id="root" class="holder">
			<div class="sticky-header">
				<Header step={"0"} act={"I"}/>
			</div>
			<div id="content" class="content">
				<Step step="0" act="I">
					<FlowDiagramStep step='0'/>
				</Step>
				<Step step="1" act="I">
					<StartupsStep step="1"/>
				</Step>
				<Step step="2" act="II">
					<FinancialMetric step="2" />
				</Step>
				<CleanStep step="3" act="III">
					<TravelToManausStep step="3" />
				</CleanStep>
				<Step step="4" act="III">
					<WhyEnterpreneurStep step="4" />
				</Step>
				<Step step="5" act="III">
					<ElevatorPitchStep step="5" />
				</Step>
				<Step step="6" act="III">
					<PatagoniaStep step="6" />
				</Step>
				<Step step="7" act="IV">
					<Form />
				</Step>
			</div>
			
		</div>
		
	</div>
</Layout>
<style is:global>
	
	:root {
    	--radius: 15px;
    	--marginGeneral: 10%;
    	--color-alternate: orange;
    	--color-correct: green;
	}

	.hide {
		display: none;
	}

	body {
		touch-action: none;
		margin: 0;
		padding:0;
	}

	@font-face {
		font-family: 'Roboto';
		src: url('/fonts/Roboto-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}


	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		height: 100svh;
		width: 100vw;
		background-color: black;
		overflow:hidden;

	}

	.holder {
		position: relative;
		border-radius:var(--radius);
		height: calc(100% - var(--marginGeneral));
		width: calc(100% - var(--marginGeneral));
		max-width: 448px;
		max-height: 800px;
		overflow:hidden;
		background-color: white;
	}

	.content {
		position: absolute;
		left:0px;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;		
	}

	.step {
		min-width: 100%;
		height: 100%;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.stepOrange{
		background-color: orange !important;
	}

	.user-name {
        color:#EB590A;
		font-weight: bold;
    }

	.sticky-header {
		position: absolute;
		top: 0;
		z-index:1;
		width: 100%;
		display:grid;
	}

</style>

