---
import Layout from '../layouts/Layout.astro';
import Step from '../components/Step.astro';
import HeadlessStep from '../components/HeadlessStep.astro';
import TravelStep from '../components/TravelStep.astro';
import AvatarStep from './AvatarStep.astro';
import FlowDiagramStep from './FlowDiagramStep.astro';
import StartupsStep from './StartupsStep.astro'
import FinancialMetric from './FinancialMetric.astro'
import TravelToManausStep from './TravelToManausStep.astro'
import WhyEnterpreneurStep from './WhyEnterpreneurStep.astro'
import Form from '../components/Form.astro';
import ElevatorPitchStep from './ElevatorPitchStep.astro';
import PatagoniaStep from './PatagoniaStep.astro';
import SocialMediaStep from './SocialMediaStep.astro';
import ActTitleStep from './ActTitleStep.astro';
import ValuesStep from './ValuesStep.astro';
import Congrats from './Congrats.astro';
import PointsExplanation from './PointsExplanation.astro';
import SarahQuestion9 from './SarahQuestion9.astro';
import SarahQuestion10 from './SarahQuestion10.astro';
import Act1_Cinematics from './acts/Act1_Cinematics.astro';
import Act4_Cinematics from './acts/Act4_Cinematics.astro';
import Act1_SarahApproves from './acts/Act1_SarahApproves.astro';
import Act2_Cinematics from './acts/Act2_Cinematics.astro';
import Act2_PreQuestion from './acts/Act2_PreQuestion.astro';
import Act3_Cinematics from './acts/Act3_Cinematics.astro';
import Act3_AlexAfterIA from './acts/Act3_AlexAfterIA.astro';
import Act4_Cinematics_After9 from './acts/Act4_Cinematics_After9.astro';
import Intro from './Intro.astro';
import IntroMessage from './IntroMessage.astro';
import Header from '../components/Header.astro';
import BusinessStep from './BusinessStep.astro';
import Footer from '../components/Footer.astro';
import FooterDesktop from '../components/FooterDesktop.astro';
import FlowersDesktop from '../components/FlowersDesktop.astro';
import PrologueCinematics from './acts/Prologue_Cinematics.astro';
import CallToAction from './CallToAction.astro';
import Settings from '../components/Settings.astro';
import New from './New.astro';
import Interview from './Interview.astro';
import Dialogue1_Cinematics from './acts/Dialogue1_Cinematics.astro';
import Dialogue2_Cinematics from './acts/Dialogue2_Cinematics.astro';
import { imageURL } from '../../public/scripts/helpers/ImageURL';

const backgroundURL = imageURL("imgs/cover_background.jpg")
console.log("backgroundURL")
console.log(backgroundURL)
---
<Layout title="The Rainforest Quest">
	<!--<div class="cover-background">
		<img src="/imgs/cover_background.jpg" draggable="false"/>
	</div>
	 -->
	<div class="container" draggable="false">
		<div id="root" class="holder">
			<Settings />
			<div class="sticky-header">
				<Header step={"0"} act={"I"}/>
			</div>
			<div id="content" class="content">
				<HeadlessStep step="0">
					<Intro step='0'/>
				</HeadlessStep>
				<Step step="1">
					<IntroMessage step='1'/>
				</Step>
				<Step step="2">
					<AvatarStep step='2'/>
				</Step>
				<Step step="3">
					<SocialMediaStep step='3'/>
				</Step>
				<Step step="4">
					<ActTitleStep act={1} label='The Call for Adventure' step="4"/>
				</Step>
				<Step step="5">
					<Act1_Cinematics step='5'/>
				</Step>
				<Step step="6">
					<WhyEnterpreneurStep step="6" />
				</Step>
				<Step step="7">
					<BusinessStep step="7" />
				</Step>
				<Step step="8">
					<FinancialMetric step="8" />
				</Step>
				<Step step="9">
					<Act1_SarahApproves step="9" />
				</Step>
				<Step step="10">
					<ActTitleStep act={2} label='The Journey' step="10"/>
				</Step>
				<TravelStep step="11" act="III">
					<TravelToManausStep step="11" />
				</TravelStep>
				<Step step="12">
					<Act2_Cinematics step='12'/>
				</Step>
				<Step step="13">
					<ValuesStep step="13" />
				</Step>
				<Step step="14">
					<PatagoniaStep step="14" />
				</Step>
				<Step step="15">
					<FlowDiagramStep step='15'/>
				</Step>
				<Step step="16">
					<Act2_PreQuestion step="16" />
				</Step>
				<Step step="17">
					<ActTitleStep act={3} label='Raising Awareness' step="17"/>
				</Step>
				<Step step="18">
					<Act3_Cinematics step='18'/>
				</Step>
				<Step step="19">
					<ElevatorPitchStep step="19" />
				</Step>
				<Step step="20">
					<Interview step='20'/>
				</Step>
				<Step step="21">
					<Act4_Cinematics step='21'/>
				</Step>
				<Step step="22">
					<SarahQuestion9 step='22'/>
				</Step>
				<Step step="23">
					<Act4_Cinematics_After9 step='23'/>
				</Step>
				<Step step="24">
					<SarahQuestion10 step='24'/>
				</Step>
				<Step step="25">
					<ActTitleStep act={5} label='The Next Chapter' step="25"/>
				</Step>
				<Step step="26">
					<Dialogue1_Cinematics step='26'/>
				</Step>
				<Step step="27">
					<StartupsStep step="27"/>
				</Step>	
				<Step step="28">
					<Dialogue2_Cinematics step='28'/>
				</Step>
				<Step step="29">
					<Congrats step='29'/>
				</Step>
				<Step step="30">
					<PointsExplanation step='30'/>
				</Step>			
				<Step step="31">
					<CallToAction step='31'/>
				</Step>
			</div>
			<div class="sticky-footer">
				<Footer />
			</div>
		</div>
		<FlowersDesktop />
		<FooterDesktop />
	</div>
	<!-- add a footer -->
	
</Layout>
<style is:global define:vars={{backgroundURL}}>
	
	:root {
    	--radius: 15px;
    	--marginGeneral: 0%;
    	--color-alternate: orange;
    	--color-correct: green;
	}

	#root{
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	p {
		margin:0;
		padding:0;
	}

	.hide {
		display: none;
	}

	body {
		touch-action: none;
		margin: 0;
		padding:0;
		/*background-image: var(--backgroundURL);*/
		background-image: url("/imgs/cover_background.jpg");
		background-size: cover;
    	background-position: center;
	}

	@font-face {
		font-family: 'Roboto';
		src: url('/fonts/Roboto-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}


	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		height: 100svh;
		width: 100vw;
		/*background-color: black;*/
		overflow:hidden;
		position:relative;
		z-index:2;
	}

	.cover-background {
		position: absolute;
		z-index:1;
	}


	.holder {
		position: relative;
		/*border-radius:var(--radius);*/
		height: calc(100% - var(--marginGeneral));
		width: calc(100% - var(--marginGeneral));
		max-width: 448px;
		max-height: 800px; /* 800 */
		overflow:hidden;
		background-color: white;
	}

	.content {
		position: absolute;
		left:0px;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;		
	}

	.step {
		min-width: 100%;
		height: 100%;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.stepOrange{
		background-color: orange !important;
	}

	.user-name {
        color:#EB590A;
		font-weight: bold;
    }

	.sticky-header {
		position: absolute;
		top: 0;
		z-index:1;
		width: 100%;
		display:grid;
		background-color: #054696;
		opacity:0;
	}

	.sticky-footer {
		width: 100%;
		position: absolute;
		bottom: 0px;
		height: 35px;
		opacity:1;
	}

</style>

