<div class="intro-wrapper">
    <div class="middle-zone">
        <img class="bg-image" src="./imgs/interview/interview.png">
        <a id="interview-button" class="button-start" href="#">
            <img src="./imgs/interview/on-air-button.png">           
        </a>
    </div>
</div>
<style>
    .intro-wrapper {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 80px;
        color: #064796;
        position:relative;
        margin-top:25px;
    }
    .first-sentence{
        font-size:30px;
        font-weight:bold;
    }

    .second-sentence{
        font-size:45px;
        font-weight:bold;
    }

    .middle-zone {
        position:relative;
        margin-top: 70px;
    }

    .bg-image {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
    }

    .button-start {
        position: relative;
        z-index: 1;
        top: 30px;
    }

    #intro-button {
        top:250px;
    }

    @media (max-width: 500px) {
        .bg-image {
           
        }

        .middle-zone{
            /*margin-top: 10px;*/
        }

        .intro-wrapper{
            /*margin-top: -25px;*/
        }

        #intro-button {
            /*top:150px;*/
        }

        
    }

</style>