<div class="intro-wrapper">
    <div class="middle-zone">
        <img class="bg-image-message" src="./imgs/postcover.png">
        <a id="intro-message-button" class="button-start" href="#">
            Next            
        </a>
    </div>
</div>
<style>

    #intro-message-button {
        top:-272px;
    }

    .intro-wrapper {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 80px;
        color: #064796;
        position:relative;
        margin-top:-35px;
    }
    .first-sentence{
        font-size:30px;
        font-weight:bold;
    }

    .second-sentence{
        font-size:45px;
        font-weight:bold;
    }

    .middle-zone {
        position:relative;
        /*margin-top: 40px;*/
    }

    .bg-image {
        position: absolute;
        top:0;
        left:0;
        /*width: 337px;
        height: 400px;
        */
    }

    .button-start {
        position: relative;
        z-index: 1;
        /*top: 120px;*/
        color:white;
        font-size:25px;
        background-color:#00A5DC;
        border:2px solid white;
        border-radius:10px;
        padding: 15px 50px;
        text-decoration: none;
        font-weight:bold;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    }

   

    #intro-button {
        top:435px;
    }

    @media (max-width: 500px) {
        #intro-message-button {
            top:-232px;
        }
       

    }

</style>