<div class="intro-wrapper">
    <div class="first-sentence">Guardians of the</div>
    <div class="second-sentence">Rainforest</div>
    <div class="middle-zone">
        <img class="bg-image" src="./imgs/intro/intro-background.png">
        <a id="intro-button" class="button-start" href="#">Start</a>
    </div>
</div>
<style>
    .intro-wrapper {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 80px;
        color: #064796;
        position:relative;
        margin-top:25px;
    }
    .first-sentence{
        font-size:30px;
        font-weight:bold;
    }

    .second-sentence{
        font-size:45px;
        font-weight:bold;
    }

    .middle-zone {
        position:relative;
        margin-top: 50px;
    }

    .bg-image {
        position: absolute;
        top:0;
        left:0;
        width: 337px;
        height: 400px;
    }

    .button-start {
        position: relative;
        z-index: 1;
        top: 120px;
        color:white;
        font-size:25px;
        background-color:#00A5DC;
        border:2px solid white;
        border-radius:10px;
        padding: 15px 50px;
        text-decoration: none;
        font-weight:bold;
    }

    @media (max-width: 375px) {
        .bg-image {
            width: 337px;
            height: 400px;
        }

        .middle-zone{
            margin-top: 10px;
        }

        .intro-wrapper{
            margin-top: -25px;
        }

        #intro-button {
            top:150px;
        }
    }

</style>