---
import NextButton from '../components/buttons/NextButton.astro';
import QuestionHeader from '../components/QuestionHeader.astro';
import Avatar from '../components/avatar/Avatar.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---
<div class=`holder-social-media`>
    <div class="bus">
        <div class="bus-image bus-foreground"><img src="./imgs/intro/bus/bus_foreground.png"></div>
        <div class="bus-image bus-background">
            <img src="./imgs/intro/bus/bus_background.png">
            <img src="./imgs/intro/bus/bus_background.png">
        </div>
    </div>  
    <div id="speech-user-avatar">
        <Avatar isSpeech={true} width={160} step={step} fontSize={25} textCorrection={10} hasText={false}/>
    </div>
    <div class="social-media-popups">
        <div id="sm-popup-1" class="sm-popup-holder">
            <img  class="popup-image" src="./imgs/intro/bus/social-media-stream/sm-5.png">
            <a class="close-button" id="close-button-1" href="#"><img src="./imgs/intro/bus/social-media-stream/close-button.png"></a>
        </div>
        <div id="sm-popup-2" class="sm-popup-holder">
            <img  class="popup-image" src="./imgs/intro/bus/social-media-stream/sm-9.png">
            <a class="close-button" id="close-button-2" href="#"><img src="./imgs/intro/bus/social-media-stream/close-button.png"></a>
        </div>
    </div>
    <div class="social-media-stream-wrapper">
        <div class="social-media-stream">
            <div id="social-media-image-1" class="social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-1.png"></div>
            <div id="social-media-image-2" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-2.png"></div>
            <div id="social-media-image-3" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-3.png"></div>
            <div id="social-media-image-4" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-4.png"></div>
            <div id="social-media-image-rainforest" class="social-media-blur social-media social-media-interaction">
                <div class="social-media-text"><strong>ALERT!</strong> The worldwide demand for tropical hardwoods needs to decline. Our rainforest are in danger!                    
                </div>
                <a id="social-media-link-1" class="social-media-link" href="#">
                    <img src="./imgs/intro/bus/social-media-stream/sm-5.png">
                </a>
                <a id="social-media-button-1" href="#">
                    <img id="retweet-button" class="social-media-image-button" src="./imgs/intro/bus/social-media-stream/retweet-button.png">
                    <img id="retweet-button-completed" class="social-media-image-button" src="./imgs/intro/bus/social-media-stream/retweet-button-completed.png">
                </a>
            </div>
            <div id="social-media-image-6" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-6.png"></div>
            <div id="social-media-image-7" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-7.png"></div>
            <div id="social-media-image-8" class="social-media-blur social-media social-media-image"><img src="./imgs/intro/bus/social-media-stream/sm-8.png"></div>
            <div id="social-media-image-sarah" class="social-media-blur social-media social-media-interaction">
                <div class="social-media-text"><strong>My name is Sarah and I’m an entrepreneur fighting for the environment.</strong> I’m looking for a young passionate activist willing to join me in a ground-breaking project to save our rainforests.                   
                </div>
                <div class="social-media-text"><span class="like-text">Like this</span> to get in touch!                   
                </div>
                <a id="social-media-link-2" class="social-media-link" href="#">
                    <img src="./imgs/intro/bus/social-media-stream/sm-9.png">
                </a>
                <a id="social-media-button-2" href="#">
                    <img id="like-button" class="social-media-image-button" src="./imgs/intro/bus/social-media-stream/like-button.png">
                    <img id="like-button-completed" class="social-media-image-button" src="./imgs/intro/bus/social-media-stream/like-button-completed.png">
                </a>
            </div>
        </div>
        
    </div>
</div>
<style >

    #retweet-button-completed, #like-button-completed {
        display: none;
    }

    #retweet-button, #like-button {
        opacity: .25;
    }

    .social-media-image-button{
        width: 50% !important;
        margin-top:10px;
    }

    .like-text {
        font-weight: bold;
        color:#FF2626;
    }


    .social-media-text {
        text-align: left;
        margin: 0px 0px 10px 0px;
        font-size:12px;
    }

    .social-media {
        margin-bottom: 10px;
        transition: all 1s ease-out;
    }

    .social-media-blur {
        filter: blur(5px);
    }

    .social-media-unblur {
        filter: blur(0px);
    }

    .social-media-stream-wrapper {
        position: absolute;
        width: 60%;
        top: 180px;
        left: 17%;
        overflow: hidden;
        height: 315px;
        background-color: white;
        outline:8px solid #CECEBF;
        border-radius: 10px;
        z-index: 100;
        box-shadow: 0px 2px 8px 10px rgb(0 0 0 / 85%);
    }

    .social-media-stream {
        position: absolute;
        top:0px;
        left:0px;
        z-index: 100;
        width: 100%;
       
    }

    .social-media-popups {
        position: absolute;
        top:160px;
        left:0px;
        z-index: 200;
        width: 100%;
    }

    .sm-popup-holder{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: white;
        padding:10px;
        opacity: 0;
        pointer-events: none;
    }

    .popup-image {
        width: 100%;
    }

    .close-button {
        position: absolute;
        right: -40px;
        top: -20px;
    }

    .close-button img {
        width:50%;
    }

    .social-media-image img{
        width: 80%;
    }

    #social-media-image-rainforest {
        width: 70%;
        margin: 0 auto 10px auto;
        background-color: #CFEBFC;
        padding: 10px 15px;
        border-radius: 4px;
        border: 4px solid #01A5DC;
    }

    #social-media-image-sarah {
        width: 70%;
        margin: 0 auto 10px auto;
        background-color: #CFEBFC;
        padding: 10px 15px;
        border-radius: 4px;
        border: 4px solid #01A5DC;
    }

    .social-media-interaction img{
        width: 100%;
    }
    
    .holder-social-media {
        --text-blue:#14519C; 
        --color-blue:#044596;
        color:darkblue;
        text-align: center;
        font-size: 14px;
        margin:20px 0px;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        /* center on y */
        justify-content: center;
        align-items: center;
    }

    .bus {
        position: relative;
        width: 100%;
    }

    .bus-foreground {
        position: relative;
        z-index:1;
    }

    .bus-background {
        position: absolute;
        z-index:0;
        top:0px;
        width: max-content;
        display: flex;
    }


    .bus-image img{
        top:0px;
        left:0px;
    }

    .bus-foreground img{
        width: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    

    #speech-user-avatar {
        position: absolute;
        top: 0px;
        left: 115px;
    }

    #avatar img {
        margin-top: -60px;
        pointer-events: none;
    }

    .answer-description {
        border:1px solid #15519D;
        border-radius:8px;
        padding:10px 10px;
        margin:30px 10px 30px 10px;
    }

    #answer-correct-icon{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
    }

    @media (max-width: 500px) {

        #speech-user-avatar {
            top: 30px;
        }
    }   

</style>