---
import NextButton from '../components/buttons/NextButton.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---
<div class=`holder-travel-manaus`>
    <div id="travel-manaus-background">
        <img src="./imgs/plane-travel/plane-travel-background.png">
    </div>
    <div id="travel-manaus-plane">
        <img id="travel-manaus-plane-img" src="./imgs/plane-travel/plane.png">
    </div>
    <svg id="plane-path" width="317px" height="560px" version="1.1">
        <path fill="transparent" stroke="#FF3300" stroke-width="4" d="M300,120q-180-0-230,200" class="path" data-astro-cid-ugx7r32e=""></path>
    </svg>
</div>

<style >
    #plane-path {
        position: absolute;
        top: 0;
        left: 0;
    }
    .holder-travel-manaus {
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    #travel-manaus-background img{
        border-radius: 10px;
        height: 100%;
    }

    #plane-path path{
        opacity:0;
    }

    #travel-manaus-plane {
        position: absolute;
        top: -70px;
        left: -67px;
        transform: rotateZ(180deg);
    }
	
</style>