---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	step: string,
	act: string,
}

const { step, act } = Astro.props;

const extraStep = (step == "1")? "stepOrange" : ""
const notFirst = (step !== "0")
const stepNum = Number(step)
const isTravel = (step == "3") ? true: false

---
<script>
    const headerHeight = 54
    const footerHeight = 39
    const stepHeight = document.querySelector(".step").getBoundingClientRect().height
    const $stepContent = document.querySelector(".step-content") as HTMLElement
    $stepContent.style.height = `${(stepHeight - headerHeight - footerHeight)}px`
</script>
<div class=`step` id=`step-${step}` class:list={[{ bgTravel: isTravel }]}>
    <div class="step-content">
        <slot />
    </div>
</div>
<style>
    .step {
        display: grid;
        grid-template-areas: 
        'content';
        grid-template-rows: auto;
    }

    .bgTravel {
        background-color: #BFE8F6;
    }

    .step-content{
        grid-area: content;
        /*width: 100%;*/
        max-height: 507px; /* Esto ha de cambiar de forma dinámica */
    }
    
</style>