---
const year = new Date().getFullYear();
---
<div id="flower-left">
    <img src="/imgs/desktop/flowers-left.png" alt="flower-left">   
</div>
<div id="flower-right">
    <img src="/imgs/desktop/flowers-right.png" alt="flower-right">   
</div>

<style>
    #flower-left{
        position: absolute;
        display: none;
    }

    #flower-right{
        position: absolute;
        display: none;
    }

</style>