<div class="footer">
    WHU Logo + Footer info
</div>
<style>
    .footer{
        --color-blue:#064796;
        border-top:1px solid #9BB5D5;
        padding:10px;
        color:var(--color-blue);
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 12px;
        margin: 0 20px;
    }
</style>