---
const year = new Date().getFullYear();
---
<div class="footer">
    <div class="footer-separator"></div>
    <div class="footer-content">
        <div class="footer-text">
            © WHU {year}. <a href="https://www.whu.edu/en/privacy-policy/" target="_blank">Privacy policy</a>
        </div>
    </div>
</div>

<style>
    .footer{
        --color-blue:#064796;
        
        border-top:1px solid #9BB5D5;
        /*padding:10px;*/
        color:white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 12px;
        margin: 0 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-separator{
        border-top:2px solid #9EC0CC;
        margin-bottom:2px;
    }

    .footer-content{
        background-color:#548DA0;
        flex-grow:1;
    }

    .footer-text {
        margin-top: 8px;
    }

    .footer-text a {
        color: white;
        text-decoration: underline;
    }
</style>