<div class="footer">
    WHU Logo + Footer info
</div>
<script >
    /*
    const wIH = window.innerHeight
    const rect = document.querySelector(".step").getBoundingClientRect()
    const stepHeight = rect.height
    
    document.querySelector(".footer").innerHTML = `wIH=${wIH}px stepHeight=${stepHeight}px`
    */

</script >
<style>
    .footer{
        --color-blue:#064796;
        border-top:1px solid #9BB5D5;
        padding:10px;
        color:var(--color-blue);
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 12px;
        margin: 0 20px;
    }
</style>