---

---
<!--<form action="" id="formulario">
    <input type="text" id="email-input">
    Email
    <button id="send-form-btn" type="submit">Submit</button>
</form>
-->
<div class="form-wrapper">
    <div>Final form will be here</div>
</div>
<style>
    .form-wrapper {
        display: flex;
        /* center on the available space */
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
