---
interface Props {
	step: string,
    act:string
}
const { step,act } = Astro.props;
---
<div class="header">
    <div class="info">
        <div class="header-title"><span class="big-text">GUARDIANS</span><span class="small-text">OF THE</span><span class="big-text"><strong>RAINFOREST</strong></span></div>        
    </div>
    <div class="settings"><img src="./imgs/settingsButton.png"></div>
</div>

<style>
    .header {
        --color-blue:#064796;
        display: grid;
        grid-template-areas: 'info';
        grid-template-columns: auto;
        grid-template-rows: 34px;
        margin: 15px 15px;
        gap: 7px;
        font-family: 'Roboto', sans-serif;
        color:white;
        
    }

    .info{
        padding:10px;
        display: flex;
        justify-content: center;
        /*width: 100%;*/
    }



    .header-title {
        float:left;
        margin-top: -4px;
        font-size: 20px;
        display: flex;
        gap:7px;
    }

    .small-text {
        font-size:15px;
        margin-top: 4px;
    }

    .header-act {
        float: right;
        margin-top: -4px;
        font-size: 16px;
        font-weight: bold;
    }

    .settings{
        position: absolute;
        left: 88%;
        top: 13px;
    }

    @media (max-width: 400px) {
        .header-title {
            font-size: 15px;            
        }

        .small-text{
            font-size:10px;
            margin-top: 2px;
        }

        .header {
            margin: 13px 15px;
        }

        
    }
</style>