---

---
<div id="scrollbar-container">
    <div id="scrollbar-tracker"></div>
  </div>

<style>

#scrollbar-container {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: #CDDAEA;
}

#scrollbar-tracker {
  position: absolute;
  right: 0;
  width: 20px;
  background-color: #064798;
  cursor: pointer;
}


	@media (max-height: 900px) {
        #scrollbar-container{
            display: block;
        }
	}
</style>