---

---
<div id="settings-panel" class="settings-hide">
    <div class="header">
        <a id="close-settings-button" href="#">
            <img src="./imgs/settingsButton.png">
        </a>
    </div>
    <div class="content">

    </div>
    <div class="footer">

    </div>
</div>
<style>
    #settings-panel {
        
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;
        z-index: 10; 
        background-color: aquamarine;
    }

    .settings-hide{
        display: none !important;
    }

</style>