---
interface Props {
	step: string;
}

const { step } = Astro.props;

const extraStep = (step == "1")? "stepOrange" : ""
const notFirst = (step !== "0")
const stepNum = Number(step)
---
<div class=`step ${extraStep}`>
    <!-- Back button -->
    {
        notFirst && (
            <button class="prev-step-btn" id=`button-prev-step-${stepNum - 1}`>Prev Slide</button>
        )
    }
    <header>Step numero {stepNum + 1}</header>
    <button class="next-step-btn" id=`button-next-step-${stepNum + 1}`>Next Slide</button>
    <slot />

</div>
<style>
	.button{
        
    }
	
</style>