---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Cache-control" content="no-cache">
		<meta charset="UTF-8" />
		<meta name="description" content="WHU description" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
		<script src="./scripts/lib/typewriter.js" defer></script>
		<script src="./scripts/lib/anime.min.js" defer></script>
		<script src="./scripts/lib/howler.min.js" defer></script>
		<script type="module" src="./scripts/main.js" defer></script>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VJWX9LC1DN"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-VJWX9LC1DN');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

